// .index-title {
//   font-size: 100px;
// }


.container{
  width: 1280px;
  margin: auto;
}

*{
  // outline: 1px solid;
}

.content{
  width:calc(100% - 296px);
  margin-left: auto;
}

.fs-12{
  font-size: 12px;
}

.fs-14{
  font-size: 14px;
}
